<div class="row tp-search">
    <div class="col">
        <form action="{{ url_for('search') }}" class="search-form">
            <div class="input-field col">
                <i class="material-icons prefix">youtube_searched_for</i>
                <input type="text" id="db_query" name="db_query" placeholder="Search">
                <button class="btn waves-effect waves-light search-btn" type="submit">GO<i class="material-icons right">send</i></button>
            </div>
        </form>
    </div>
</div>