<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <form action="{{ url_for("perfumes.filter") }}" class="search-form">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Filter by Type</label>
                <select class="form-control" id="filter_query" name="filter_query">
                    <option  selected='true' name="" value="" id="">Please select a type</option>
                    {% for type in types %}
                    <option value="{{type['type_name']}}" id="{{type['type_name']}}" name="{{type['type_name']}}">{{type['type_name']}}</option>
                    {% endfor %}
                </select><br>
                <button class="btn btn-primary btn-sm" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>