<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <form action="{{ url_for('filter') }}">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Filter by Type</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    {% for type in types %}
                    <option value="db_query" id="db_query" name="db_query">{{type['type_name']}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-primary btn-sm" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>