<form class="shadow-sm" enctype="multipart/form-data" method=POST id="form-type" novalidate>
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.type_name.label(class="form-control-label") }}
        {% if form.type_name.errors %}
        {{ form.type_name(class="form-control form-control-md is-invalid border-white shadow-sm item") }}
        <div class="invalid-feedback">
            {% for error in form.type_name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.type_name(class="form-control form-control-md border-white shadow-sm item") }}
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.description.label(class="form-control-label") }}
        {% if form.description.errors %}
        {{ form.description(class="form-control form-control-md is-invalid border-white shadow-sm item") }}
        <div class="invalid-feedback">
            {% for error in form.description.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.description(class="form-control form-control-md ckeditor border-white shadow-sm item") }}
        {% endif %}
    </div>

    <div class="form-row justify-content-center">
        <div class="col-4 mt-0">
            {{ form.type_picture.label(class="btn btn-sm shadow-sm button-green form-control-label mt-2") }}
            {{ form.type_picture(class="form-control-file") }}
            {% if form.type_picture.errors %}
            {% for error in form.type_picture.errors %}
            <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-8 text-right">
            {{ form.submit(class="btn btn-sm button-blue text-center shadow-sm mt-2") }}
            <a class="btn btn-sm button-yellow-nom mt-2" href="{{ url_for("types.show_type", type_id=current_type._id) }}">Cancel</a>
        </div>
        <div class="col text-center mt-3">
            <span class="form-control-thumbnail picture-type d-none"></span>
            <span class="form-control-filename small ml-0 mb-0 mt-3" data-text="Picture chosen, please update." id="pictureFileName"></span>
        </div>
    </div>
</form>