[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pytest = "*"

[packages]
flask = "*"
flask-login = "*"
email-validator = "*"
gunicorn = "*"
flask-pymongo = "*"
dnspython = "*"
flask-wtf = "*"
python-dotenv = "*"
pillow = "*"

[requires]
python_version = "3.7"
