[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
pylint-flask = "*"
flake8 = "*"
black = "*"
autopep8 = "*"
pep8 = "*"

[packages]
flask = "*"
flask-login = "*"
email-validator = "*"
gunicorn = "*"
flask-pymongo = "*"
dnspython = "*"
flask-wtf = "*"
python-dotenv = "*"
pillow = "*"
cloudinary = "*"
flask-compress = "*"
flask-paginate = "*"

[requires]
python_version = "3.9.16"

[pipenv]
allow_prereleases = true
