{% extends 'layout/base.html' %} {% block content %}
{% include "components/search-and-filter.html" %}
<div class="container mb-4 pt-4">
    <div class="row">
        <div class="col-9">
            <h1>Perfumes</h1>
        </div>
        <div class="col-3">
            {% if current_user.is_authenticated and current_user.is_admin == True %}
            <a href="{{ url_for('perfumesBP.new_perfume') }}" class="btn btn-primary float-right" type="button">Add new perfume</a>
            {% endif %}
        </div>
    </div>
</div>
<!-- Perfume card -->
{% include "components/perfume-card.html" %}
<!-- Pagination -->
<div class="pagination">
    {% for page_number in total_pages %}
    {% if page_number %}
    {% if page_number == page %}
    <a class="btn btn-info mb-4" href="{{ page_number }}">{{ page_number }}</a>
    {% else %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('perfumesBP.perfumes', page=page_number) }}">{{ page_number }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
</div>

{% endblock content %}