{% extends 'layout/base.html' %} {% block content %}

{% include "components/search-perfume.html" %}

{% for result in results %}

{% include "components/perfume-card.html" %}

{% endfor %}

<div class="container mb-4 pt-4">
    <div class="row">
        <div class="col-9">
            <h1>Perfumes</h1>
        </div>
        <div class="col-3">
            {% if current_user.is_authenticated and current_user.is_admin == True %}
                <a href="{{ url_for('new_perfume') }}" class="btn btn-primary float-right" type="button"
                >Add new perfume</a>
            {% endif %}
        </div>
    </div>
</div>
<!-- Perfume card -->
{% include "components/perfume-card.html" %}

{% endblock content %}
