{% extends 'layout/base.html' %} {% block content %}

<div class="container mb-4 pt-4">
    <div class="row">
        <div class="col-9">
            <h1>Types of Perfumes: {{ type.type_name }}</h1>
        </div>
        <div class="col-3">
            <a href="{{ url_for('types') }}" class="btn btn-primary float-right" type="button">Back to all types</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="card col-12 mb-1">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="lead text-primary font-weight-bold">{{ type.type_name }}</span>
                </h5>
                <hr />
                <p class="card-text">{{ type.description | safe}}</p>
                <hr />
                {% if current_user.is_authenticated and current_user.is_admin == True and
                current_user.username == type.author %}
                    <a href="{{ url_for('edit_type', id=type._id) }}" class="btn btn-primary btn-sm" disabled>Edit</a>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteTypeModal">
                    Delete </button>
                {% elif current_user.is_authenticated and current_user.is_admin == True %}
                    <a href="{{ url_for('edit_type', id=type._id) }}" class="btn btn-primary btn-sm" disabled>Edit</a>
                    <button disabled type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteTypeModal">
                    Delete </button>
                    <span class="small ml-2">Only the author can delete this type. You can still edit it.</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- MODAL -->
{% include "components/type-modal.html" %}

{% endblock content %}