{% extends 'layout/base.html' %}
{% block content %}

<div class="container mb-4 pt-4">
    <div class="row">
        <div class="col-9">
            <h1>Types of Perfumes</h1>
        </div>
        <div class="col-3">
            {% if current_user.is_authenticated and current_user.is_admin == True %}
            <a href="{{ url_for('new_type') }}" class="btn btn-primary float-right" type="button">Add new type</a>
            {% endif %}
        </div>
    </div>
</div>
{% include "components/type-card.html" %}

{% endblock content %}