<!-- Login reminder modal -->
<div class="modal fade" role="dialog" tabindex="-1" id="loginReminderModal" aria-labelledby="loginReminderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-about-label">Log in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="mb-0">You must be registered and logged in to perform this action.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm my-buttons purple mt-0" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>