body {
    margin-top: 6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    margin-bottom: 20px;
}

#flash {
    font-size: 1.5em;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 2em;
}

.account-img {
    width: 125px;
    height: 125px;
}

#avatar {
    display: none;
}
