{% if current_user.is_authenticated and current_user.is_admin == True %}
    <div class="col-2 text-center text-sm-left mb-2">
        <a class="shadow-sm btn btn-sm my-buttons green" href="{{ url_for("perfumes.all_perfumes") }}">Back</a>
    </div>
    <div class="col-10 text-center text-sm-right mb-2">
        <button class="btn btn-sm shadow-sm my-buttons purple" type="button"
        data-toggle="modal" data-target="#reviewPerfumeModal">Review</button>
        <a class="shadow-sm btn btn-sm my-buttons blue"
        href="{{ url_for("perfumes.edit_perfume", perfume_id=perfume._id) }}"
        role="button">Edit</a>
        <button {% if current_user.username != perfume.author %}disabled{% endif %}
        type="button" class="btn btn-sm shadow-sm my-buttons red" data-toggle="modal"
        data-target="#deletePerfumeModal">Delete</button>
    </div>
{% else %}
    <div class="col text-left mb-2">
        <a class="shadow-sm btn btn-sm my-buttons green" href="{{ url_for("perfumes.all_perfumes") }}">Back</a>
    </div>
    <div class="col text-right mb-2">
        <button class="btn btn-sm shadow-sm my-buttons purple" type="button"
         data-toggle="modal" data-target="#reviewPerfumeModal">Review</button>
    </div>
{% endif %}