<!-- DELETE PERFUME MODAL -->
<div class="modal fade" role="dialog" tabindex="-1" id="deletePerfumeModal" aria-labelledby="deletePerfumeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please&nbsp;Confirm</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Please confirm that you want to delete this perfume: {{ perfume.name }}.</p>
                <p class="warning-modals">This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <form action="{{ url_for("perfumes.delete_perfume", perfume_id=perfume._id) }}" method="POST">
                    <input type="submit" , class="btn btn-sm shadow-sm button-red" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- CREATE REVIEW MODAL -->
<div class="modal fade" role="dialog" tabindex="-1" id="reviewPerfumeModal" aria-labelledby="reviewPerfumeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please leave a review</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method=POST action="{{ url_for("reviews.review_perfume", perfume_id=perfume._id) }}" id="form-review" class="shadow-none" novalidate>
                <div class="modal-body">
                    {{ add_review_form.hidden_tag() }}
                    <div class="form-group">
                        {% if add_review_form.review.errors %}
                        {{ add_review_form.review(class="form-control form-control-md is-invalid ckeditor") }}
                        <div class="invalid-feedback">
                            {% for error in add_review_form.review.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ add_review_form.review(class="form-control form-control-md ckeditor", placeholder="Review") }}
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        {{ add_review_form.submit(class="btn btn-sm shadow-sm button-blue") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- DELETE REVIEW MODAL -->
<div class="modal fade" role="dialog" tabindex="-1" id="deleteReviewModal" aria-labelledby="deleteReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please&nbsp;Confirm</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <p>Please confirm that you want to delete this review.</p>
                <p class="warning-modals">This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <form id="form-delete-review" action="{{ url_for("reviews.delete_review") }}" method="POST">
                    <input hidden name="review_id">
                    <input hidden name="perfume_id">
                    <input type="submit" class="btn btn-sm shadow-sm button-red" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ! EDIT REVIEW MODAL -->
<div class="modal fade" role="dialog" tabindex="-1" id="editReviewPerfumeModal" aria-labelledby="editReviewPerfumeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit your review</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form class="shadow-none" method=POST action="{{ url_for("reviews.edit_review") }}" id="form-edit-review">
                    {{ edit_review_form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {% if edit_review_form.edit_review.errors %}
                            {{ edit_review_form.edit_review(class="form-control form-control-md ckeditor is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in edit_review_form.edit_review.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ edit_review_form.edit_review(class="form-control form-control-md ckeditor", placeholder="Review") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <div class="form-group">
                            <input hidden name="review_id">
                            <input hidden name="perfume_id">
                            {{ edit_review_form.submit(class="btn btn-sm shadow-sm button-blue") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>