<div class="container navpad">
    <div class="row justify-content-center">
        {% for perfume in perfumes %}
        {% if perfume %}
        <section class="col-lg-3 col-md-4 col-sm-6 col-12 filter-div px-2 pb-1 pb-lg-3 text-center">
            <article class="card my-1 d-none d-sm-block hvr-grow" id="card-perfumes">
                <div class="image-square">
                    <img class="img-fluid" src="{{ perfume['perfumePicture'] }}" onerror="if (this.src != '../static/images/generic.jpg') this.src = '../static/images/generic.jpg';" loading="lazy" alt="Perfume" />
                </div>
                <div class="card-body text-center py-2">
                    <small class="d-none d-sm-block text-muted">{{ perfume['perfumeBrand'] }}</small>
                    <h2 class="card-title">{{ perfume['perfumeName'] }}</h2>
                    <a href="{{ url_for('perfumes.perfume', perfume_id=perfume._id) }}">
                        <p class="mb-0 view-more">VIEW MORE</p>
                    </a>
                </div>
                <!--card footer-->
                <footer class="card-footer p-1 {{ perfume['perfumeType'] }}">
                    <div class="d-flex flex-row justify-content-around card-xs">
                        <div class="d-flex flex-column text-center">
                            <small class="">{{ perfume['perfumeType'] }}</small>
                        </div>
                    </div>
                </footer>
            </article>
        </section>
        {% endif %}
        {% else %}
        <h2>No Perfumes Matched your query</h2>
        {% endfor %}
    </div>
</div>