<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <h3 class="text-center">Reviews</h3>
            <ul class='reviews'>
                {% for review in perfume.reviews|sort(attribute='date_reviewed', reverse = True) %}
                <div class="card container">
                    <div class="row">
                        <div class="card-header col-9">
                            <h5>{{review['reviewer'] }} said on {{ review.date_reviewed.strftime('%d-%m-%Y') }}</h5>
                        </div>
                        <div class="card-header col-3">
                            {% if current_user.username == review['reviewer'] %}
                                <button type="button" class="btn btn-danger btn-sm mt-2 delete-review float-right ml-2" data-perfume_id="{{perfume['_id']}}" data-review_id="{{review['_id']}}" data-toggle="modal" data-target="#deleteReviewModal">Delete</button>
                                <button type="button" class="btn btn-success btn-sm mt-2 edit-review float-right ml-2" data-perfume_id="{{perfume['_id']}}" data-review_id="{{review['_id']}}" data-toggle="modal" data-target="#editReviewPerfumeModal" id="editFormButton">Edit</button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="p-3 row">
                        <div class="col-1">
                            <img class="avatar-perfume float-right" src="{{ review['reviewer_picture'] }}" onerror="if (this.src != '../static/images/default.png') this.src = '../static/images/default.png';" loading="lazy" width=100 height=100 alt="Avatar">
                        </div>
                        <div class=" col-10" id="reviewContent">
                            <li>{{ review['review_content'] | safe }}</li>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if not perfume.reviews %}
                    <h5 class="text-center">There are no reviews for this perfume</h5>
                {% endif %}
            </ul>
        </div>
    </div>
</div>