<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <form  id="form" action="{{ url_for("perfumes.filters") }}" class="search-form">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Filter by Type</label>
                <select class="form-control" id="filter_query" name="filter_query">
                    <option selected='true'>Please select a type</option>
                    {% for type in types %}
                    <option value="{{type['type_name']}}">{{type['type_name']}}</option>
                    {% endfor %}
                    <option value="{{ url_for('types.new_type') }}">Create new type...</option>
                </select><br>
                <!--
                 Hid button until deciding if automatic submit is the way
                 <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                -->
            </div>
        </form>
    </div>
    <div class="col-md-6 text-center">
        <form action="{{ url_for('perfumes.search') }}" class="search-form">
            <label for="">Search a Perfume or Brand</label>
            <div class="input-grou mb-3">
                <input type="text" class="form-control" id="db_query" name="db_query" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Search for a Perfume or Brand"><br>
                <button class="btn btn-primary btn-sm ml-3" type="submit" name="Search">SEARCH</button>
                <a href="{{ url_for('perfumes.all_perfumes') }}" class="btn btn-sm btn-warning ml-3" type="submit" name="Search">CANCEL</a>
            </div>
        </form>
    </div>
</div>