@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:ital,wght@0,400;0,600;0,700;1,300&display=swap");

html {
    font-size: 100%;
}

body {
    color: #585e65;
    font-family: "Montserrat", sans-serif;
}

/* Navbar */
#navbar {
    filter: brightness(114%) hue-rotate(46deg) invert(0%);
}

.portfolio-navbar .navbar-nav .nav-link {
    font-size: 0.9rem;
    font-weight: 400;
}

.navbar-brand {
    margin-right: 3rem;
}

/* Footer */
div.social-icons .background-facebook {
    background-color: #406dd0;
}

div.social-icons .background-instagram {
    background-color: #c14139;
}

div.social-icons .background-twitter {
    background-color: #4c99e0;
}

/* buttons */
.my-buttons {
    margin-left: 0;
    color: #585e65;
}

.blue {
    background-color: #d2e3f4;
}

.blue:hover {
    background-color: #a0caf5;
}

.green {
    background-color: #cdf1c4;
}

.green:hover {
    background-color: #aef19d;
}

.red {
    background-color: #ffe0ce;
}

.red:hover {
    background-color: #fabf9d;
}

.purple {
    background-color: #eadff7;
}

.purple:hover {
    background-color: #d4b3fa;
}

.yellow {
    background-color: #f5db98;
}

.yellow:hover {
    background-color: #f7d274;
}

.border-purple {
    border-color: #eadff7;
    color: #585e65;
}

.account-img {
    width: 125px;
    height: 125px;
}

/* Styling Preview Thumbnails */
.form-control-file {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

#form-perfume .form-control-thumbnail {
    display: block;
    width: 164px;
    height: 164px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 5px;
}

#form-type .form-control-thumbnail {
    display: inline;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 5px;
}

#form-type .form-control-file {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

#form-profile .form-control-thumbnail {
    border-radius: 50%;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Images users - perfumes & types */
.perfume-avatar {
    width: 75px;
    height: 75px;
    margin-top: 1.25rem;
}

.review-avatar {
    width: 60px;
    height: 60px;
}

#form-perfume .form-control-thumbnail {
    width: 140px;
    height: 164px;
    margin-bottom: 0;
    border: none;
}

.new-pic-select {
    position: absolute;
    color: #fff;
    background-color: rgba(227, 122, 195, 0.6);
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    margin-top: 4rem;
    margin-left: 2.5rem;
}

.picture-type {
    height: 50px;
    width: 50px;
}

/* Text */
.portfolio-block .heading h2 {
    color: #957ae3;
    font-size: 3rem;
    font-family: "Alex Brush", cursive;
    text-transform: unset;
}

.small-links {
    font-size: 0.75rem;
    color: #56aee7;
}

.muted-texts {
    font-size: 0.75rem;
    color: #959595;
}

.mild {
    color: #585e65;
}

#filter_query,
#db_query {
    color: #8399b0;
}

#db_query::placeholder {
    color: #8399b0;
}

.edit-user-username {
    font-size: 2rem;
    color: #6488ab;
}

.edit-user-names {
    color: #48a5b1;
}

.edit-user-email {
    color: #8ea6bb;
}

.warning-modals {
    font-weight: 700;
    color: #b67f7f;
}

.project-card-no-image h3 {
    font-size: 1rem;
}

.input-group-text {
    background-color: #c7e2f5;
    color: #989da2;
}

.content-review {
    font-size: 0.875rem;
    color: #454e56;
}

.name-reviewer {
    color: #406dd0;
    font-weight: bold;
}

.review-in-prefume {
    font-size: 0.875rem;
}

.meta-heading {
    font-size: 0.625rem;
    margin-top: 5px;
    margin-bottom: 0;
}

.text-muted {
    font-size: 0.75rem;
}

/* Card types */
.type-aromatic {
    border-color: #971f9b;
    background-color: rgba(151, 31, 155, 0.1);
}

.type-amber {
    border-color: #a75202;
    background-color: rgba(122, 72, 24, 0.1);
}

.type-balsamic {
    border-color: #89a076;
    background-color: rgba(137, 160, 118, 0.1);
}

.type-bright-floral {
    border-color: #d69fd8;
    background-color: rgba(214, 159, 216, 0.1);
}

.type-chypre {
    border-color: #3c9b1f;
    background-color: rgba(60, 155, 31, 0.1);
}

.type-citrus {
    border-color: #e5ff00;
    background-color: rgba(229, 255, 0, 0.1);
}

.type-floral-bouquet {
    border-color: #612cc5;
    background-color: rgba(98, 44, 197, 0.1);
}

.type-floral-oriental {
    border-color: #c52c2c;
    background-color: rgba(255, 151, 151, 0.1);
}

.type-fougère {
    border-color: #3d8601;
    background-color: rgb(115, 255, 0, 0.1);
}

.type-fruity {
    border-color: #ac0303;
    background-color: rgba(121, 0, 0, 0.1);
}

.type-gourmand {
    border-color: #ff8800;
    background-color: rgba(255, 136, 0, 0.1);
}

.type-green {
    border-color: #a4f017;
    background-color: rgba(164, 240, 23, 0.1);
}

.type-leather {
    border-color: #472c08;
    background-color: rgba(71, 44, 8, 0.1);
}

.type-oceanic {
    border-color: #196ebe;
    background-color: rgba(25, 110, 190, 0.1);
}

.type-oriental {
    border-color: #e6c96a;
    background-color: rgba(230, 201, 106, 0.1);
}

.type-single-flower {
    border-color: #a159ca;
    background-color: rgba(161, 89, 202, 0.1);
}

.type-spicy {
    border-color: #8e9102;
    background-color: rgba(142, 145, 2, 0.1);
}

.type-woody {
    border-color: #8f520d;
    background-color: rgba(143, 82, 13, 0.1);
}

.type-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    font-family: "Alex Brush", cursive;
    text-transform: capitalize;
}

.portfolio-navbar .logo {
    font-size: 2rem;
    line-height: 2rem;
}

/* Links footer */
a:hover {
    text-decoration: overline;
}

.links-footer a {
    font-size: 0.9rem;
}

/* Pagination */
.pagination-page-info {
    margin-bottom: 1rem;
    font-size: 0.8rem;
}
.pagination-page-info b {
    color: black;
    font-size: 110%;
}

.pagination .page-item {
    font-size: 0.8rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.pagination .page-item .page-link {
    background-color: #c7e2f5;
    border: 0;
    color: black;
    transition: all 0.4s;
}

.pagination .page-item.active .page-link {
    background-color: #957ae3;
    border: 0;
    color: white;
}

.pagination .page-item .page-link:hover {
    background-color: #6aa6ed;
}

.pagination .page-item.active .page-link:hover {
    background-color: #957ae3;
}

/* Media queries */
@media only screen and (min-width: 768px) {
    .project-card-no-image h3 {
        font-size: 1.3rem;
    }

    .portfolio-block .heading h2 {
        font-size: 4rem;
    }

    .portfolio-navbar .navbar-nav .nav-link {
        font-size: 1.1rem;
    }

    .portfolio-navbar .logo {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}