{% extends "layout/base.html" %}
{% block content %}

<main class="page contact-page">
    <section class="portfolio-block contact">
        <div class="container">
            <div class="heading">
                <h2 class="text-capitalize">Edit Type</h2>
            </div>
            {% include "forms/edit-type-form.html" %}
        </div>
    </section>
</main>

{% block CKEditor %}
<script src="https://cdn.ckeditor.com/4.14.0/basic/ckeditor.js"></script>
{% endblock CKEditor %}

{% endblock content%}