{% extends "layout/base.html" %}
{% block content %}

<main class="page project-page">
    <section class="portfolio-block project">
        <div class="container">
            <div class="heading">
                <h2>{{ perfume.name.title() }}</h2>
            </div>
            <!-- Start Perfume Cursor -->
            {% include "components/perfume-cursor.html" %}
        </div>
    </section>
</main>

<!-- Reviews -->
{% include "components/perfume-reviews.html" %}

<!-- Modals -->
{% include "modals/delete-perfume-modal.html" %}
{% include "modals/create-review-modal.html" %}
{% include "modals/delete-review-modal.html" %}
{% include "modals/edit-review-modal.html" %}

{% block CKEditor %}
    <script src="https://cdn.ckeditor.com/4.14.0/basic/ckeditor.js"></script>
{% endblock CKEditor %}

{% endblock content %}