{% extends "layout/base.html" %}
{% block content %}

<main class="page projets-page">
    <section class="portfolio-block projects compact-grid container">
        <!-- Search & Filter -->
        {% include "components/search-and-filter.html" %}
        <div class="container mb-4 pt-4">
            <div class="col-12 text-center mb-4">
            {% if query %}
                <a class="btn button-purple" href="{{ url_for("perfumes.all_perfumes") }}" role="button">Back to All Perfumes</a>
            {% endif %}
            </div>
            <!-- Perfume card -->
            {% include "components/perfume-card.html" %}
            <!-- Pagination -->
            {% include "components/pagination.html" %}
            {% if current_user.is_authenticated and current_user.is_admin == True %}
            <div class="col-12 text-center mt-4">
                <a class="btn button-purple" href="{{ url_for("perfumes.new_perfume") }}" role="button">Create New Perfume</a>
            </div>
            {% endif %}
    </section>
</main>

{% endblock content %}