{% extends 'layout/base.html' %}
{% block content %}

<main class="page project-page">
    <section class="portfolio-block project">
        <div class="container">
            <div class="heading">
                <h2 class="text-capitalize">{{ perfume.name }}</h2>
            </div>
            <!-- START "CURSOR" -->
            {% for author in cursor %}
            <div class="row">
                <!-- Start: Left Column Perfume -->
                <div class="col-12 col-lg-2 text-center meta left-perfume-container pl-3">
                    <div class="text-left tags"><span class="meta-heading">Brand</span>
                        <span class="text-info">{{ perfume.brand }}</span>
                        <span class="meta-heading">Type of perfume</span>
                        <span class="text-info">{{ perfume.perfume_type }}</span>
                        <span class="meta-heading">Date Posted</span>
                        <span class="text-muted">{{ perfume.date_updated.strftime('%d-%m-%Y') }}</span>
                        <span class="meta-heading">Posted by</span>
                        <span class="text-info">{{ author['username'] }}</span><span class="text-muted">({{ author['firstName']}} {{ author['lastName']}})</span></div>
                    <div class="row">
                        <div class="col-12 text-left perfume-avatar-container mb-2">
                            <img class="rounded-circle img-fluid perfume-avatar" src="{{ author['profilePicture'] }}" onerror="if (this.src != '../static/images/default.png') this.src = '../static/images/default.png';" loading="lazy" width=100 height=100 alt="Avatar">
                        </div>
                    </div>
                </div>
                <!-- End: Left Column Perfume -->
                <!-- Start: Main Content Perfume Column -->
                <div class="col-12 col-md-8 col-lg-7 info">
                    <h3>{{ perfume.name }}, by {{ perfume.brand }}</h3>
                    <p>{{ perfume.description | safe}}</p>
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-left mb-2">
                            <button class="btn btn-sm shadow-sm button-purple" type="button" data-toggle="modal" data-target="#reviewPerfumeModal">Review</button>
                            <a class="shadow-sm btn btn-sm button-green" href="{{ url_for('perfumes.all_perfumes') }}">Back</a>
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-right mb-2">
                            {% if current_user.is_authenticated and current_user.is_admin == True and current_user.username == perfume.author %}
                            <a class="shadow-sm btn btn-sm button-blue-small" href="{{ url_for('perfumes.edit_perfume', perfume_id=perfume._id) }}" role="button">Edit</a>
                            <button type="button" class="btn btn-sm shadow-sm button-red" data-toggle="modal" data-target="#deletePerfumeModal">Delete</button>
                            {% elif current_user.is_authenticated and current_user.is_admin == True %}
                            <a class="shadow-sm btn btn-sm button-blue-small" href="{{ url_for('perfumes.edit_perfume', perfume_id=perfume._id) }}" role="button">Edit</a>
                            <button disabled type="button" class="btn btn-sm shadow-sm button-red" data-toggle="modal" data-target="#deletePerfumeModal">Delete</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- End: Main Content Perfume Column -->
                <!-- Start: Perfume Picture Column -->
                <div class="col-12 col-md-4 col-lg-3 text-center text-md-right align-self-center">
                    <img class="perfume-photo" src="{{ perfume.picture }}" onerror="if (this.src != '../static/images/generic.jpg') this.src = '../static/images/generic.jpg';" loading="lazy" width=225 height=300 alt="Perfume">
                </div>
                <!-- End: Perfume Picture Column -->
            </div>
            {% endfor %}
            <!-- END "CURSOR" -->
        </div>
    </section>
</main>

<!-- REVIEWS -->
{% include "components/perfume-reviews.html" %}

<!-- MODALS -->
{% include "components/perfume-modals.html" %}

{% endblock content %}