{% extends 'layout/base.html' %}
{% block content %}

<div class="container content-section">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    <div class="form-group">
                        {{ form.csrf_token }}
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-md is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control form-control-md", placeholder="Enter your new password")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.csrf_token }}
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-md is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.confirm_password(class="form-control form-control-md")}}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-primary", placeholder="Confirm your new password")}}
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}