{% extends "layout/base.html" %}
{% block content %}

<main class="page projets-page">
    <section class="portfolio-block project-no-images">
        <div class="container">
            <div class="heading">
                <h2 class="text-capitalize">Perfume Types</h2>
            </div>
            <div class="row">
                {% include "components/type-cursor.html" %}
                <!-- Pagination -->
                <div class="col-12 text-center px-0 mt-5">
                    {{ pagination.info }}
                    {{ pagination.links }}
                </div>
                {% if current_user.is_authenticated and current_user.is_admin == True %}
                    <div class="col-12 text-center mt-4">
                        <a href="{{ url_for("types.new_type") }}" class="btn button-purple shadow-sm" type="button">Create new type</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</main>

{% endblock content %}