{% extends "layout/base.html" %}
{% block content %}

<main class="page project-page">
    <section class="portfolio-block">
        <div class="container">
            <div class="heading">
                <h2 class="text-capitalize">{{ type.type_name }}</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 info">
                    <h3>
                        <a href="{{ url_for("perfumes.perfumes_types", perfume_type=type.type_name) }}">
                            {{ type.type_name }}</a>
                    </h3>
                    <p class="card-text">{{ type.description | safe}}</p>
                    <div class="row">
                        <div class="col-4 text-left">
                            <a class="shadow-sm btn btn-sm my-buttons green"
                                href="{{ url_for("types.all_types") }}">Back</a>
                        </div>
                        <div class="col-8 text-right">
                            <!-- Delete button only if admin is the creator -->
                            {% if current_user.is_admin and current_user.username == type.author %}
                            <a href="{{ url_for("types.edit_type", type_id=type._id) }}"
                                class="btn my-buttons blue btn-sm shadow-sm">Edit</a>
                            <button type="button" class="btn my-buttons red btn-sm shadow-sm" data-toggle="modal"
                                data-target="#deleteTypeModal">Delete</button>
                            {% elif current_user.is_admin %}
                            <a href="{{ url_for("types.edit_type", type_id=type._id) }}"
                                class="btn my-buttons blue btn-sm shadow-sm">Edit</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- MODAL -->
{% include "modals/delete-type-modal.html" %}

{% endblock content %}