<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mr-4" href="/">PARFUMIER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{ url_for('mainBP.index') }}">About</a>
                <a class="nav-item nav-link" href="{{ url_for('perfumesBP.perfumes') }}">Perfumes</a>
                <a class="nav-item nav-link" href="{{ url_for('typesBP.types') }}">Types</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('usersBP.account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('usersBP.logout') }}">Logout</a>
                {% else %}
                <a class="nav-item nav-link" href="{{ url_for('usersBP.login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('usersBP.register') }}">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>