<!DOCTYPE html>
<html lang="en">

<head>
    {% include "layout/head.html" %}
    {% if title %}
    <title>Parfumier - {{ title }}</title>
    {% else %}
    <title>Parfumier</title>
    {% endif %}
</head>

<body>

    {% include "layout/navbar.html" %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert" id="flash">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container main-contents">
        {% block content %}
        {% endblock content %}
    </div>

    {% include "layout/footer.html" %}
    {% include "layout/scripts.html" %}

</body>

</html>