<footer class="page-footer">
    <div class="container">
        <div class="links-footer">
            <a href="#">About me</a
            ><a href="#">Contact me</a
            ><a href="https://github.com/GBrachetta" target="_blank" rel="noopener">Projects</a>
        </div>
        <div class="social-icons">
            <a class="background-facebook" href="https://www.facebook.com" target="_blank" rel="noopener">
                <i class="icon ion-social-facebook" name="facebook"></i>
                </a>
            <a class="background-instagram" href="https://www.instagram.com" target="_blank" rel="noopener">
                <i class="icon ion-social-instagram-outline" name="instagram"></i>
            </a>
            <a class="background-twitter" href="https://twitter.com" target="_blank" rel="noopener">
                <i class="icon ion-social-twitter" name="twitter"></i>
                </a>
        </div>
    </div>
</footer>
