<footer class="page-footer">
    <div class="container">
        <div class="links-footer">
            <a href="#" data-toggle="modal" data-target="#aboutModal">About me</a>
            <a href="mailto:brachetta@me.com?subject=Mail from Parfumier">Contact me</a>
            <a href="https://github.com/GBrachetta" target="_blank" rel="noopener">Projects</a>
        </div>
        <div class="social-icons">
            <a class="background-facebook" href="https://facebook.com" target="_blank" rel="noopener">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="background-instagram" href="https://instagram.com" target="_blank" rel="noopener">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="background-twitter" href="https://twitter.com" target="_blank" rel="noopener">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>

{% include "modals/about-me.html" %}