<footer class="page-footer">
    <div class="container">
        <div class="links-footer">
            <a href="#">About me</a
            ><a href="#">Contact me</a
            ><a href="https://github.com/GBrachetta" target="_blank">Projects</a>
        </div>
        <div class="social-icons">
            <a class="background-facebook" href="https://www.facebook.com" target="_blank">
                <i class="icon ion-social-facebook"></i>
                </a>
            <a class="background-instagram" href="https://www.instagram.com" target="_blank">
                <i class="icon ion-social-instagram-outline"></i>
            </a>
            <a class="background-twitter" href="https://twitter.com" target="_blank">
                <i class="icon ion-social-twitter"></i>
                </a>
        </div>
    </div>
</footer>
