<meta charset="utf-8" />
<meta name="Description" content="An app to search for and find information about perfumes." />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<meta name="author" content="Guillermo Brachetta" />
<meta name="keywords" content="Perfume, fragrances, reviews, perfumes" />
<meta name="application-name" content="Parfumier" />
<link rel="shortcut icon" href="{{ url_for("static", filename="images/favicon.ico") }}" />
<link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css") }}" />
<link rel="stylesheet" href="{{ url_for("static", filename="css/styles.min.css") }}" />