<nav class="navbar navbar-dark navbar-expand-md sticky-top bg-white portfolio-navbar gradient navbar-gradient" id="navbar">
    <div class="container-fluid">
        <a class="navbar-brand logo" href="{{ url_for("perfumes.all_perfumes") }}">Parfumier</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="{{ url_for("main.about") }}">About</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="{{ url_for("perfumes.all_perfumes") }}">Perfumes</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="{{ url_for("types.all_types") }}">Types</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" href="{{ url_for("users.account") }}">Account</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="{{ url_for("users.logout") }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="{{ url_for("users.login") }}">Login</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="{{ url_for("users.register") }}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>