{% extends 'layout.html' %}
{% block content %}

<div class="container content-section">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ avatar }}">
                <div class="media-body">
                    <h2 class="account-heading">{{ current_user.username }}</h2>
                    <p class="text-secondary">{{ current_user.email}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container content-section">
        <div class="row justify-content-center">
            <div class="col-6">
                <form method=POST action="" enctype="multipart/form-data" novalidate>
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Update your Account</legend>
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}
                            {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-md is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.username(class="form-control form-control-md")}}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.first_name.label(class="form-control-label") }}
                            {% if form.first_name.errors %}
                            {{ form.first_name(class="form-control form-control-md is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.first_name(class="form-control form-control-md")}}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.last_name.label(class="form-control-label") }}
                            {% if form.last_name.errors %}
                            {{ form.last_name(class="form-control form-control-md is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.last_name.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.last_name(class="form-control form-control-md")}}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-md is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-control form-control-md")}}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.avatar.label() }}
                            {{ form.avatar(class="form-contro-file") }}
                            {% if form.avatar.errors %}
                            {% for error in form.avatar.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-secondary")}}
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>{% endblock content %}