{% extends 'layout.html' %}
{% block content %}

<div class="container content-section">
    <div class="row justify-content-center">
        <div class=" col-md-6">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In</legend>
                    <div class="form-group">
                        {{ form.csrf_token }}
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-md is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class="form-control form-control-md", placeholder="Enter your email")}}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label")}}
                        {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-md is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control form-control-md", placeholder="Enter your password")}}
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {{ form.remember(class="form-check-input" )}}
                        {{ form.remember.label(class="form-check-label" )}}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-primary")}}
                    <small class="text-muted ml-2">
                        <a href="{{ url_for('reset_request') }}">Forgot Password?</a>
                    </small>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Please register here <a class="ml-2" href="{{ url_for('register') }}">Register</a>
                </small>
            </div>
        </div>
    </div>
</div>


{% endblock content %}