{% extends 'layout.html' %}
{% block content %}


<div class="container mb-4 pt-4">
    <div class="row">
        <div class="col-9">
            <h1>Types of Perfumes: {{ type.type_name }}</h1>
        </div>
        <div class="col-3">
            <a href="{{ url_for('types') }}" class="btn btn-primary float-right" type="button">Back to all types</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="card col-12 mb-1">
            <div class="card-body">
                <h5 class="card-title"><span class="lead text-primary font-weight-bold">{{ type.type_name }}</span></h5>
                <hr>
                <p class="card-text">{{ type.description | safe}}</p>
                <hr>
                {% if current_user.is_authenticated and current_user.is_admin == True and current_user.username == type.author %}
                <a href="{{ url_for('edit_type', id=type._id) }}" class="btn btn-primary btn-sm" disabled>Edit</a>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteTypeModal">Delete</button>
                {% elif current_user.is_authenticated and current_user.is_admin == True %}
                <a href="{{ url_for('edit_type', id=type._id) }}" class="btn btn-primary btn-sm" disabled>Edit</a>
                <button disabled type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteTypeModal">Delete</button>
                <span class="small ml-2">Only the author can delete this type. You can still edit it.</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- MODAL -->
<div class="modal fade" id="deleteTypeModal" tabindex="-1" role="dialog" aria-labelledby="deleteTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModal">Please Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Please confirm you want to delete this type: {{ type.type_name }}.</p>
                <p><strong>This action cannot be undone.</strong></p>
            </div>
            <div class="modal-footer">
                <form action="{{ url_for('delete_type', id=type._id) }}" method="POST">
                    <input type="submit" , class="btn btn-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}