{% extends 'layout.html' %}
{% block content %}

<div class="container mb-4 pt-4">
    <div class="row">
        <div class="col-9">
            <h1>Types of Perfumes</h1>
        </div>
        <div class="col-3">
            {% if current_user.is_authenticated and current_user.is_admin == True %}
            <a href="{{ url_for('new_type') }}" class="btn btn-primary float-right" type="button">Add new type</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for type in types %}
        <div class="card col-12 mb-1">
            <div class="card-body">
                <a href="{{ url_for('type', id=type._id) }}">
                    <h5 class="card-title"><span class="lead text-primary font-weight-bold">{{ type.type_name }}</span></h5>
                    <hr>
                </a>
                <p class="card-text">{{ type.description | safe}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}